@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* THIS is the important part */
img:not([width]):not([height]) {
  width: 100%;
  height: auto;
}